extends layout

block content
  h1 Editar Menú

  form(action=`/menu/${menu.menu_id}/update` method="POST")
    .form-group
      label(for="name") Nombre
      input#name.form-control(
        type="text"
        name="name"
        value=menu.name
        required
      )

    .form-group
      label(for="price") Precio (€)
      input#price.form-control(
        type="number"
        name="price"
        step="0.01"
        value=formatPrice(menu.price)
        required
      )

    .actions
      button.btn.btn-primary(type="submit") Actualizar
      a.btn.btn-secondary(href=`/menu/${menu.menu_id}`) Cancelar
