extends layout

block content
  if message
    .message(class=messageType)= message
    
  .page-header
    h1 Lista de Pedidos
    a.btn.btn-primary(href="/order/new") Nuevo Pedido

  .orders-grid
    each order in orders
      .order-card
        h2 Pedido ##{order.order_id}
        p Local: #{order.local ? order.local.name : 'No especificado'}
        p Cliente: #{order.client ? `${order.client.user.name} ${order.client.user.last_name}` : 'No especificado'}
        if order.dishes && order.dishes.length
          h3 Platos
          ul
            each dish in order.dishes
              li #{dish.name} x#{dish.order_has_dish.quantity}
        if order.drinks && order.drinks.length
          h3 Bebidas
          ul
            each drink in order.drinks
              li #{drink.name} x#{drink.order_has_drink.quantity}
        if order.menus && order.menus.length
          h3 Menús
          ul
            each menu in order.menus
              li #{menu.name} x#{menu.order_has_menu.quantity}
        .actions
          a.btn.btn-secondary(href=`/order/${order.order_id}`) Ver Detalles
    else
      p No hay pedidos disponibles.
