extends layout

block content
  .page-header
    h1 Lista de Bebidas
    a.btn.btn-primary(href="/drink/new") Nueva Bebida

  .drink-grid
    each drink in drinks
      .drink-card
        h2= drink.name
        if drink.description
          p= drink.description
        span.drink-type= getDrinkTypeLabel(drink.type)
        p.drink-price= formatPriceWithCurrency(drink.price)
        .actions
          a.btn.btn-secondary(href=`/drink/${drink.drink_id}`) Ver
    else
      p No hay bebidas disponibles.
