extends layout

block content
  h1 Cambiar Contrase単a


  form(action=`/user/${user.user_id}/update-password` method="POST")
    .form-group
      label(for="currentPassword") Contrase単a Actual *
      input#currentPassword.form-control(
        type="password"
        name="currentPassword"
        required
      )

    .form-group
      label(for="newPassword") Nueva Contrase単a *
      input#newPassword.form-control(
        type="password"
        name="newPassword"
        required
      )

    .actions
      button.btn.btn-primary(type="submit") Actualizar Contrase単a
      a.btn.btn-secondary(href=`/user/${user.user_id}`) Cancelar